*{
    background-color:rgb(163, 173, 248);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.grid {
    display: grid;
    grid-template-areas:  "a b c";
    grid-template-columns:  1.5% 12% 12%; /*размер каждой колонки*/
    grid-gap:10px; /*расстояние между ячейками */
    justify-content: center; /*выравнивание сетки по центру*/
    text-align: center;
}

.grid div.first {
    border: 2px solid black;
    word-wrap: break-word; /*перенос слов*/
    padding: auto;
}

.grid div.seconds{
    border: black solid 2px;
    padding: 15px;
}

.grid div.third{
    border: black solid 2px;
    padding: 15px;
}

.first,.seconds,.third{
    background-color: #d9b9f4;
}



