.myGrid{
display: grid;
grid-template-areas:"A1 A2 A3 A4 A5"
"A6 A7 A8 A9 A9"
"A10 A10 A11 A9 A9"
"A10  A10 A12 A13 A14";
grid-template-columns: 11% 11% 11% 11% 11%;
grid-template-rows:  auto;
justify-content: center;
grid-gap: 10px;
}

.myItem{
display: flex;
background-color: #f8d3f8;
border:black 1px solid;
}

figcaption{
display: flex;
justify-content: center;
align-items: center;
}

img {
width: 100px;
height:100px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


