body{
    background-color: rgb(240, 250, 215);
}

.nav li {/*преобразовать пункты списка в строчные элементы*/
    display: inline;
}

.nav li a {/*для ссылок*/
    display: inline-block; /*для плавающих элементов значение block*/
    border: 1px solid rgb(0, 165, 88);
    padding: 5px 15px 5px 15px;
    background-color: yellow;
    text-decoration: none;
    color: rgb(0, 165, 88);     
}

.nav{
    text-align: center;
}