p {
    padding: 30px;
    margin-bottom: 30px;
}

.n1 {
    border: 6px solid rgb(97, 71, 0);
    border-bottom-color: yellow;
    border-right-color: rgb(0, 0, 195);
    border-top-color: orange;
}

.n2 {
    border-right: 6px solid #007BA7;
    border-left: 6px solid #007BA7;
}

.n3 {
    border: 6px dashed blue;
    border-top: 6px solid rgb(229, 43, 80);
}

.n4 {
    border: 1px dotted orange;
}

.n5 {
    border: 2px solid rgb(3, 3, 95);
    border-left: 2px dashed rgb(85, 0, 11);
    border-right: 2px dashed rgb(83, 0, 11);
}

.n6 {
    border: 6px double #B3446C;
}

.n7 {
    border-top: 1px dashed #808000;
    border-bottom: 3px solid #FF7518;
}

.n8 {
    border-left: 6px double #CC7722;
    border-bottom: 6px double #CC7722;
}

.n9 {
    border-right: 6px ridge #D5A642;
    border-top: 6px ridge #D5A642;
}

.n10 {
    border: 5px dotted rgb(0, 40, 0);
    border-top: none;
}