h1, h2, h3 {
font-family: 'Monotype Corsiva';
color:blueviolet;
font-size: 5;
}
.sp1 {
font-family: 'Times New Roman', Times, serif;
color: red;
font-size: 18pt;
}
.sp2 {
font-family: 'Times New Roman', Times, serif;
color: yellow;
font-size: 20pt;
}
.sp3 {
    font-family: 'Times New Roman', Times, serif;
    color: green;
    font-size: 22pt;
    }

h1 + p {
    background-color: yellow;
}

h2 ~ p {
    color: blue;
}

tr th {
    background-color: rgba(235, 13, 13, 0.863);
    color: white;
}
td, th {
    background-color: cadetblue;
    color: white;
}
